.container {
    display: flex;
    width: 1440px;
    padding: 0px var(--spacing-4, 16px);

    flex-direction: column;
    align-items: center;
}

.content_board {
    display: flex;
    max-width: var(--width-5xl, 1024px);
    padding: var(--spacing-16, 64px) 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-8, 32px);

    align-self: stretch;
}

.board_head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-4, 16px);
}

.board_body {
    display: flex;
    max-width: var(--width-5xl, 1024px);
    padding: var(--spacing-16, 64px) 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-8, 32px);

    align-self: stretch;
}

.board_task {
    display: flex;
    width: 256px;
    height: 144px;
    padding: var(--spacing-4, 16px);

    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-4, 16px);

    border-radius: var(--rounded-md, 6px);
    background: #E2E8F0;
}

.board_task > input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-2, 8px);
    align-self: stretch;
}

.max_width_element {
    width: 100%;
}